.footer
  background-color: $main-menue-background-color !important
  position: fixed
  text-align: center
  bottom: 0
  left: 0
  right: 0

  @include respond-to(handhelds)
    height: 6rem
    font-size: 3rem
    padding: 0

  @include respond-to(medium-screens)
    height: 2.5rem
    font-size: 1.3rem
    padding: -0px

  @include respond-to(wide-screens)
    height: 2.5rem
    font-size: 1.3rem
    padding: -0px

.formular
  @include respond-to(handhelds)
    .input
      font-size: 4.5rem
      height: auto
      width: 90%
      margin-left: 0.5rem

    .form-text
      font-size: 2rem

    .label
      font-size: 3rem
      text-decoration: underline

    .label-small
      font-size: 2.5rem

    small
      font-size: 1.5rem

    .button
      font-size: 4rem
      border-radius: 0.3rem
      padding: 0.3rem
      margin-left: 0.7rem

    .check
      margin-left: 1rem
      display: block
      position: static
      width: 80px
      height: 80px

  @include respond-to(medium-screens)
    .input
      font-size: 1.5rem
      height: auto
      width: 60%
      margin-left: 1.5rem

    .form-text
      font-size: 2rem

    .label
      font-size: 1.5rem
      text-decoration: underline

    .label-small
      font-size: 1rem

    small
      font-size: 1rem

    .button
      font-size: 1rem
      border-radius: 0.3rem
      padding: 0.3rem
      margin-left: 0.7rem

    .check
      margin-left: 1rem
      display: flex
      position: static
      width: 30px
      height: 30px

  @include respond-to(wide-screens)
    .input
      font-size: 1.5rem
      height: auto
      width: 60%
      margin-left: 2rem

    .form-text
      font-size: 2rem

    .label
      font-size: 1.5rem
      text-decoration: underline

    .label-small
      font-size: 1rem

    .button
      font-size: 1.5rem
      border-radius: 0.3rem
      padding: 0.3rem
      margin-left: 2rem

    .check
      margin-left: 2rem
      display: flex
      position: static
      width: 30px
      height: 30px