.button
  background-color: rgba(0, 0, 0, 0) !important
  border-style: none !important
  border-color: transparent !important
  text-decoration: none !important

  &:hover
    text-decoration: underline !important
    background-color: rgba(0, 0, 0, 0)
    border-style: none

  &:active
    text-decoration: underline !important
    background-color: rgba(0, 0, 0, 0)
    border-style: none

.form-session
  @include formBasic