@import "../../../node_modules/bootstrap/scss/bootstrap"
@import "../../../node_modules/sweetalert2/src/sweetalert2"
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome"
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/brands"
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/regular"
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/solid"
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/v4-shims"
@import "font"
@import "root"
@import "scaleMixin"
@import "navbar"
@import "footer"
@import "accessFormular"
@import "form"

html, body
  height: 100%
  background-color: $background-color

h1, h2, h3
  font-family: $main-uschrift-font
  @include respond-to(handhelds)
    width: 100%
    margin: auto
    font-size: 6rem

  @include respond-to(medium-screens)
    margin: auto

  @include respond-to(wide-screens)
    width: 100%
    padding-top: 1rem
    padding-bottom: 1rem
    margin: auto

::-webkit-scrollbar
  @include respond-to(handhelds)
    width: 1rem

  @include respond-to(medium-screens)
    width: 1rem

  @include respond-to(wide-screens)
    width: 1rem

input#nachricht,
textarea
  box-shadow: inset 5px 1px 11px grey
  width: 80%
  height: 7rem

textarea
  height: 10rem

input:focus,
textarea:focus
  background-color: #d9d9d9

::-webkit-scrollbar-track
  background-color: $main-menue-background-color

::-webkit-scrollbar-thumb
  background: $background-color

p
  @include respond-to(handhelds)
    margin: 0
    padding-top: 1rem
    width: 100%
    font-family: $main-font
    color: $main-font-color
    font-size: 2.5rem

  @include respond-to(medium-screens)
    margin: 0
    width: 100%
    font-family: $main-font
    font-style: normal
    font-weight: normal
    color: $main-font-color
    font-size: 1.2rem

  @include respond-to(wide-screens)
    margin: 0
    padding-top: 0.5rem
    width: 100%
    font-family: $main-font
    color: $main-font-color
    font-size: 1.3rem

.logo
  background: white !important
  border-radius: 100%
  padding: 0.1rem
  @include respond-to(handhelds)
    margin-right: 1rem
    width: 5rem
    margin-left: 2rem

  @include respond-to(medium-screens)
    margin-right: 1rem
    width: 2rem

  @include respond-to(wide-screens)
    margin-right: 1rem
    width: 2rem

a
  color: $main-font-color

  &:hover
    color: $main-font-color-hover

.divider
  border-left-style: solid
  border-color: $main-font-color
  position: fixed

.navbar-itrem:hover
  transform: scale(1.05)
  transition: all 0.5s
  text-rendering: geometricPrecision

.dropdown-submenu
  position: relative

.dropdown-submenu .dropdown-menu
  top: 0
  left: 100%
  margin-top: -1px

.content
  padding-left: 2rem
  padding-right: 2rem
  background-color: $background-color-content
  @include respond-to(handhelds)
    margin-left: 5rem
    margin-right: 5rem
    min-height: 100%
    padding-top: 25rem
    padding-bottom: 7rem

  @include respond-to(medium-screens)
    margin-left: 2rem
    margin-right: 2rem
    min-height: 100%
    padding-top: 8rem
    padding-bottom: 3rem

  @include respond-to(wide-screens)
    margin-left: 10rem
    margin-right: 10rem
    min-height: 100%
    padding-top: 8rem
    padding-bottom: 3rem

.titleDoc
  @include respond-to(handhelds)
    margin-left: 1rem

hr
  -moz-border-bottom-colors: none
  -moz-border-image: none
  -moz-border-left-colors: none
  -moz-border-right-colors: none
  -moz-border-top-colors: none
  border-color: #EEEEEE -moz-use-text-color #FFFFFF
  border-style: solid none
  border-width: 1px 0
  margin: 18px 0
  width: 100% !important